footer{
    font-size: 13px;
    color: #999;
    text-align: center;
    padding: 30px 10px;
    background: #fafafa;
    span{
        margin-right: 10px;

        a{
            color: #999;
            text-decoration: underline;
        }
    }
}
