.archives-wrap {
    max-width: 1000px;
    &:after {
        display: block;

        position: absolute;
        top: -100px;
        bottom: 0;
        left: 50%;
        z-index: -1;

        width: 1px;

        background-color: #eaeaea;

        content: "";
    }
}

.archive-tag{
    text-align: center;
    margin-bottom: 60px;

    span{
        background: #fff;
        border: 1px solid #eaeaea;

        padding: 10px 30px;
    }

}

.post-item {
    position: relative;

    margin-bottom: 60px;
    padding-bottom: 33.3333%;
    width: 100%;
    height: 0;
    .post-thumbnail {
        display: block;
        background-color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 20px;
        z-index: 1;

        width: 50%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .post-brief {
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 50%;

        border: 1px solid #eaeaea;
        padding: 50px 20px 50px 40px;
        width: 50%;;
        .post-date {
            font-size: 12px;

            color: #999;
        }
        h2 {
            margin: 10px 0;

            font-size: 24px;
        }
        .post-body {
            margin-bottom: 10px;

            height: 7em;
            overflow: hidden;

            color: #555;
        }
        .post-meta {
            position: absolute;
            bottom: 50px;

            font-size: 12px;
            color: #999;

            a{
                color: #999;
            }

            .post-tag{
                a {
                    &:after {
                        content: ", ";
                    }
                    &:last-child:after {
                        content: "";
                    }
                    &:hover {
                        color: #333;
                    }
                }
            }

        }
    }
}

.post-item[data-type="even"] {
    .post-thumbnail {
        right: 20px;
        left: auto;
    }
    .post-brief {
        left: 0;

        padding: 50px 40px 50px 20px;
    }
}

/**
 * 流式布局
 */
@media screen and (max-width: 1000px) {
    .post-item[data-type="odd"],
    .post-item[data-type="even"] {
        padding-bottom: 0;
        height: auto;
        .post-thumbnail {
            display: block;

            position: static;

            width: 100%;
        }
        .post-brief {
            position: static;

            width: 100%;

            background: #fff;

            padding: 0 0 10px;
            border-left:none;
            border-top:none;
            border-right: none;

            .post-body{
                height: auto;
            }

            .post-meta{
                position: static;
            }
        }
    }
}
