.md-body {
    font-size: 14px;
    line-height: 2;
}
.md-body > *:first-child {
    margin-top: 0 !important;
}
.md-body > *:last-child {
    margin-bottom: 0 !important;
}
.md-body a.absent {
    color: #CC0000;
}
.md-body a.anchor {
    bottom: 0;
    cursor: pointer;
    display: block;
    left: 0;
    margin-left: -30px;
    padding-left: 30px;
    position: absolute;
    top: 0;
}
.md-body h1, .md-body h2, .md-body h3, .md-body h4, .md-body h5, .md-body h6 {
    cursor: text;
    font-weight: bold;
    margin: 20px 0 10px;
    padding: 0;
    position: relative;
}
.md-body h1 .mini-icon-link, .md-body h2 .mini-icon-link, .md-body h3 .mini-icon-link, .md-body h4 .mini-icon-link, .md-body h5 .mini-icon-link, .md-body h6 .mini-icon-link {
    color: #000000;
    display: none;
}
.md-body h1:hover a.anchor, .md-body h2:hover a.anchor, .md-body h3:hover a.anchor, .md-body h4:hover a.anchor, .md-body h5:hover a.anchor, .md-body h6:hover a.anchor {
    line-height: 1;
    margin-left: -22px;
    padding-left: 0;
    text-decoration: none;
    top: 15%;
}
.md-body h1:hover a.anchor .mini-icon-link, .md-body h2:hover a.anchor .mini-icon-link, .md-body h3:hover a.anchor .mini-icon-link, .md-body h4:hover a.anchor .mini-icon-link, .md-body h5:hover a.anchor .mini-icon-link, .md-body h6:hover a.anchor .mini-icon-link {
    display: inline-block;
}
.md-body h1 tt, .md-body h1 code, .md-body h2 tt, .md-body h2 code, .md-body h3 tt, .md-body h3 code, .md-body h4 tt, .md-body h4 code, .md-body h5 tt, .md-body h5 code, .md-body h6 tt, .md-body h6 code {
    font-size: inherit;
}
.md-body h1 {
    color: #000000;
    font-size: 28px;
}
.md-body h2 {
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    font-size: 24px;
}
.md-body h3 {
    font-size: 18px;
}
.md-body h4 {
    font-size: 16px;
}
.md-body h5 {
    font-size: 14px;
}
.md-body h6 {
    color: #777777;
    font-size: 14px;
}
.md-body p, .md-body blockquote, .md-body ul, .md-body ol, .md-body dl, .md-body table, .md-body pre {
    margin: 15px 0;
}
.md-body hr {
    background: url("https://a248.e.akamai.net/assets.github.com/assets/primer/post/dirty-shade-350cca8f57223ebd53603021b2e670f4f319f1b7.png") repeat-x scroll 0 0 transparent;
    border: 0 none;
    color: #CCCCCC;
    height: 4px;
    padding: 0;
}
.md-body > h2:first-child, .md-body > h1:first-child, .md-body > h1:first-child + h2, .md-body > h3:first-child, .md-body > h4:first-child, .md-body > h5:first-child, .md-body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}
.md-body a:first-child h1, .md-body a:first-child h2, .md-body a:first-child h3, .md-body a:first-child h4, .md-body a:first-child h5, .md-body a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}
.md-body h1 + p, .md-body h2 + p, .md-body h3 + p, .md-body h4 + p, .md-body h5 + p, .md-body h6 + p {
    margin-top: 0;
}
.md-body li p.first {
    display: inline-block;
}
.md-body ul, .md-body ol {
    padding-left: 30px;
}
.md-body ul.no-list, .md-body ol.no-list {
    list-style-type: none;
    padding: 0;
}
.md-body ul li > *:first-child, .md-body ol li > *:first-child {
    margin-top: 0;
}
.md-body ul ul, .md-body ul ol, .md-body ol ol, .md-body ol ul {
    margin-bottom: 0;
}
.md-body dl {
    padding: 0;
}
.md-body dl dt {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 15px 0 5px;
    padding: 0;
}
.md-body dl dt:first-child {
    padding: 0;
}
.md-body dl dt > *:first-child {
    margin-top: 0;
}
.md-body dl dt > *:last-child {
    margin-bottom: 0;
}
.md-body dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}
.md-body dl dd > *:first-child {
    margin-top: 0;
}
.md-body dl dd > *:last-child {
    margin-bottom: 0;
}
.md-body blockquote {
    border-left: 4px solid #DDDDDD;
    color: #777777;
    padding: 0 15px;
}
.md-body blockquote > *:first-child {
    margin-top: 0;
}
.md-body blockquote > *:last-child {
    margin-bottom: 0;
}
.md-body table th {
    font-weight: bold;
}
.md-body table th, .md-body table td {
    border: 1px solid #CCCCCC;
    padding: 6px 13px;
}
.md-body table tr {
    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
}
.md-body table tr:nth-child(2n) {
    background-color: #F8F8F8;
}
.md-body img {
    max-width: 100%;
}
.md-body span.frame {
    display: block;
    overflow: hidden;
}
.md-body span.frame > span {
    border: 1px solid #DDDDDD;
    display: block;
    float: left;
    margin: 13px 0 0;
    overflow: hidden;
    padding: 7px;
    width: auto;
}
.md-body span.frame span img {
    display: block;
    float: left;
}
.md-body span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
}
.md-body span.align-center {
    clear: both;
    display: block;
    overflow: hidden;
}
.md-body span.align-center > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}
.md-body span.align-center span img {
    margin: 0 auto;
    text-align: center;
}
.md-body span.align-right {
    clear: both;
    display: block;
    overflow: hidden;
}
.md-body span.align-right > span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}
.md-body span.align-right span img {
    margin: 0;
    text-align: right;
}
.md-body span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}
.md-body span.float-left span {
    margin: 13px 0 0;
}
.md-body span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}
.md-body span.float-right > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}
.md-body code, .md-body tt {
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
    border-radius: 3px 3px 3px 3px;
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
}
.md-body pre > code {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0;
    padding: 0;
    white-space: pre;
}
.md-body .highlight pre, .md-body pre {
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
}
.md-body pre code, .md-body pre tt {
    background-color: transparent;
    border: medium none;
}
