.modal {
    display: none;

    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 12;

    border: 1px solid #d9d9d9;
    border-radius: 5px;

    font-size: 14px;
    font-weight: normal;
    line-height: 20px;

    background-color: #fff;

    box-shadow: 0 3px 7px rgba(0,0,0,.3);

    width: 600px;
    margin-left: -300px;

    .modal-header{
        padding: 9px 15px;

        button.close{
            float: right;
            font-size: 20px;
            color: #000;
            opacity: 0.2;
            border: none;
            outline:none;
            background-color: transparent;

            cursor: pointer;

            &:hover{
                opacity: 0.5;
            }
        }
    }

    .modal-body{
        padding: 20px;
        position: relative;
        max-height: 400px;
    }
}

.wechat-qrcode-modal{
    width: 360px;
    margin-left: -180px;
    text-align: center;

    .modal-header{
        padding: 15px 20px;
    }
    .modal-body{
        h5{
            font-size: 13px;
            margin-bottom: 10px;
        }
    }
}
