.home-cover {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 100%;
}

.home-info {
    position: absolute;
    top: 50%;

    margin-top: -125px;
    width: 100%;
    height: 250px;

    text-align: center;
}

.home-logo {
    display: inline-block;
    img {
        border-radius: 100%;
        width: 100px;
        height: 100px;
    }
    h1 {
        margin: 0;

        font-size: 30px;
        font-weight: 400;
    }
}

.home-sologn {
    color: #666;
}

.home-menu {
    text-align: center;

    list-style: none;

    font-size: 0;
    &:before{
        content: '';
        display: block;
        height: 1px;
        background: #eaeaea;
        max-width: 400px;
        width: 90%;
        margin: 20px auto;
    }
    li {
        display: inline-block;

        margin-right: 5px;
        border-right: 1px solid #eaeaea;

        font-size: 14px;
        line-height: 1.2;

        &:last-child{
            border-right: none;
        }
        a {
            display: block;

            padding: 0 10px;
            color: #555;

            &:hover{
                color: #000;
            }
        }
    }
}
