mixin postDate(postDate)
  span.post-date= date(postDate)

mixin postTag(tags)
    if tags && tags.length
        span.post-tag 标签&nbsp;
            each tag in tags.toArray()
                a(href=url_for('tags/' + tag.name))= tag.name

mixin postComments(path)
    if !is_page()
        span.post-comments 评论&nbsp;
            span(class="disqus-comment-count" data-disqus-identifier=path) 0

mixin postCategories(cats)
    if cats && cats.length
        span.post-categories 分类&nbsp;
            each cat in cats.toArray()
                a(href=url_for('categories/' + cat.name))= cat.name

mixin postLength(post)
    span.post-length 字数&nbsp;
        != strip_html(post).length

