// wechat qrcode modal
div.modal.wechat-qrcode-modal
    div.modal-header
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    div.modal-body
        h5 打开微信“扫一扫”，打开网页后点击屏幕右上角分享按钮
        div.wechat-qrcode-img
