extends base.pug

block site_body
    section.home-cover
        .home-info
            a.home-logo(href!=url_for())
                img(src!=url_for(theme.logo))
                h1= theme.title
            p.home-sologn #{theme.sologn}
            ul.home-menu
                each url, index in theme.home_menu
                    li
                        a(href=url)= index
    div(id='particles')
block page_js
    script(src='//cdn.bootcss.com/particles.js/2.0.0/particles.min.js')
    !=js('js/index')



