extends base.pug

prepend site_title
  | #{page.title} | &nbsp;

block site_body
  include _partial/header.pug
  include _partial/article.pug

block page_js
    include _partial/script/highlight.pug
    include _partial/script/disqus.pug
