if !is_home()
    footer
        span.copyright &copy; 2010 - !{date(Date.now(), "YYYY")}  
        span.powered-by Powered by <a class="theme-link" href="http://hexo.io">Hexo</a>
        span.theme-by   Theme by <a class="theme-link" href="http://hexo.io">Nice</a>
