header.site-header
    h2.site-title
        a(href=url_for('') title=theme.title)= theme.header_title
    nav.site-nav
        ul.site-menu.menu-list
            each url, index in theme.menu
                li
                    a(href=url title!=__(index) class='iconfont icon-' + index)
    ul.share-menu.menu-list
        li
            a(href=theme.rss title!=__('rss') class='iconfont icon-rss')
        each menu in theme.share_menu
                li
                    a(href='javascript:;' title!=__(menu) class='iconfont icon-' + menu)

