/**
 * Base
 */

*,
*:before,
*:after {
    margin: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}

a {
    text-decoration: none;

    color: $textColor;
    &:hover {
        text-decoration: none;
    }
}

/**
 * Layout
 */

html, body {
    height: 100%;
}

body {
    position: relative;

    font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;

    color: $textColor;
    background-color: $bodyBgColor;
}

.site-page {
    width: 100%;
    height: auto !important;
    min-height: 100%;
    position: relative;
}

.main {
    position: relative;
    margin: 0 auto;
    padding-top: 100px !important;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 120px;
}

.hidden{
    display: none !important;
}
